#This is the hostname for the server
TGRGBOX_HOST=tgrgbox.example.com
#This is a secret key that Oven Media Engine uses to communicate with the API in tgrgbox-web.
TGRGBOX_WEB_API_KEY=
#The discord client id and client secret.  See README.md for instructions
TGRGBOX_DISCORD_CLIENT_ID=<id>
TGRGBOX_DISCORD_CLIENT_SECRET=<secret>
#The email address to use to obtain Let's Encrypt certificates
LETSENCRYPT_EMAIL=mgb@alumni.brown.edu
#This enables the traefik reverse proxy.  If this stack is integrating with an external reverse proxy, remove
#this line
COMPOSE_PROFILES=reverse-proxy
