version: "3.7"

services:
  ovenmediaengine:
    container_name: ovenmediaengine
    image: airensoft/ovenmediaengine:0.14.4
    ports:
      - "1935:1935/tcp"
      - "3478:3478/tcp"
      - "4000:4000/udp"
      #- "3333:3333/udp"
      #- "3334:3334/udp"
      - "9000:9000"
      - "9999:9999/udp"
      - "10000-10005:10000-10005/udp"
    environment:
      - OME_ORIGIN_PORT=9000
      - OME_RTMP_PROV_PORT=1935
      - OME_SRT_PROV_PORT=9999
      - OME_MPEGTS_PROV_PORT=4000/udp
      - OME_LLHLS_STREAM_PORT=3333
      - OME_LLHLS_STREAM_TLS_PORT=3334
      - OME_WEBRTC_SIGNALLING_PORT=3333
      - OME_WEBRTC_SIGNALLING_TLS_PORT=3334
      - OME_TCP_RELAY_ADDRESS=*:3478
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./ovenmediaengine/origin_conf:/opt/ovenmediaengine/bin/origin_conf
      - ./ovenmediaengine/logs:/var/log/ovenmediaengine
    restart: unless-stopped
    command: /opt/ovenmediaengine/bin/OvenMediaEngine -c /opt/ovenmediaengine/bin/origin_conf

  web:
    image: jonasal/nginx-certbot:latest
    container_name: tgrgbox_nginx
    volumes:
     - ./html:/usr/share/nginx/html
     - ./nginx_conf.d/:/etc/nginx/user_conf.d:ro
     - ./nginx_secrets:/etc/letsencrypt
    ports:
     - "80:80"
     - "443:443"
    restart: unless-stopped
    environment:
     - NGINX_HOST=tgrgbace.mgb.monster
     - CERTBOT_EMAIL={{letsencrypt_email}}
#     - STAGING=1
    restart: unless-stopped

  traefik-forward-auth:
    image: thomseddon/traefik-forward-auth:2
    container_name: traefik-forward-auth
    restart: unless-stopped
    environment:
      - DEFAULT_PROVIDER=generic-oauth
      - PROVIDERS_GENERIC_OAUTH_CLIENT_ID=${AUTH_PROVIDERS_GENERIC_OAUTH_CLIENT_ID}
      - PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET=${AUTH_PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET}
      - PROVIDERS_GENERIC_OAUTH_AUTH_URL=https://discord.com/api/oauth2/authorize
      - PROVIDERS_GENERIC_OAUTH_TOKEN_URL=https://discord.com/api/oauth2/token
        #- PROVIDERS_GENERIC_OAUTH_USER_URL=https://discord.com/api/users/@me
      - PROVIDERS_GENERIC_OAUTH_USER_URL=http://discord-user-proxy:80/
      - PROVIDERS_GENERIC_OAUTH_SCOPE=identify
      - SECRET=${AUTH_SECRET}
      - INSECURE_COOKIE=false # Example assumes no https, do not use in production
      - WHITELIST=${AUTH_WHITELIST}
        #- LOG_LEVEL=debug

  discord-user-proxy:
    image: mboilen/discord-user-proxy
    restart: unless-stopped
    container_name: discord-user-proxy
    restart: unless-stopped
    

networks:
  default:
    name: tgrgbace-network

