---
auth_whitelist: ""
discord_client_id: ""
discord_secret_id: ""
tgrgbox_hostname: ""
tgrgbox_dest_dir: "~/tgrgbox"
#A random string.  Avoid xml metacharacters please
ome_secret_key: ""
letsencrypt_email: ""
tgrgbace_tv_log: "~/tgrgbace.tv.log"
#Uncomment this and set it to an nginx config file you'd like to inject into the reverse proxy
#host_nginx_config: "~/docker-home/nginx_conf/host.conf"
